<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="../static/buscar.css">

{% include "nav-bar.html" %}

<body>
    <div class="columns">
        <div class="column">
            <div class="box">
                <form action="/login" method="post">
                    <div class="field">
                        <label class="label">PLACA</label>
                        <div class="control">
                            <input class="input" type="text" required name="placa" autofocus>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="button is-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="column">
            <div class="box">
            
            <h1 class="title is-2"><b>¡Bienvenido!</b></h1>
            <p> Por favor, ingrese la placa del automotor en el campo indicado. En caso de que no se genere un ingreso, por favor registre la nueva placa. 
            </p>         
        </div>
    </div>
</body>