<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Empresa de Taxis
    </title>
    <link rel="stylesheet" href="../static/estilos.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
</head>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<body>
    <h1 id="titulo1">Ubicación GPS</h1>
    
    <div class="container1">
        <div class="container">
            <a href="{{ url_for('index') }}">Home</a>
            <div style="margin: 20px 0; margin-left: 15px;">
                <label for="fechaInicial">Fecha Inicial:</label>
                <label for="fechaFinal" style="margin-left: 85px;">Fecha Final:</label>
            </div>
            <div id="form" style="margin-left: 15px;">
                <input type="datetime-local" style="display: inline-block; width: 170px;" id="initialdate">
                <input type="datetime-local" style="display: inline-block; width: 170px;" id="finaldate">
                <button id = "requestbutton" style="display: block; margin-top: 20px; padding: 5px;">Consultar</button>
            </div>
            
        </div>

        <div id="TaxiMap" class="mapa"></div>
        
    </div>
    <footer class="footer">
        <p class="text-footer">© 2021 Copyright: <a class="link-footer" href="https://mdbootstrap.com/">www.LosTaxisDelTio.com</a></p>
    </footer>
</body>

<script type="text/javascript"> 

    var ruta = new Array()
    var x = 1;
    var customIcon = new L.Icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/512/4214/4214491.png',
        iconSize: [50, 50],
        iconAnchor: [25,25]
    });
    const mymap = L.map('TaxiMap').setView([10.968638,-74.806644,], 14);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    let marker = L.marker([0, 0], {icon: customIcon}).addTo(mymap);
    let inicio = L.marker([0, 0]).addTo(mymap);

    // SELECCIONAR ELEMENTOS DEL HTML

    const historybutton = document.getElementById('requestbutton');
    var initialdate = document.getElementById('initialdate');
    var finaldate = document.getElementById('finaldate');
    var polilineas = new Array();
    //http request escuchando el boton del usuario, aquí pon la parte del boton

    historybutton.addEventListener('click', consulta);
    
    function consulta(){

        const httpH = new XMLHttpRequest() // metodo de javascript, para hacer peticiones a una url
        var param1 = initialdate.value
        var param2 = finaldate.value

        console.log(param1);

        httpH.open('GET', "/historicos?param1=" + param1 + "&param2=" + param2)
        httpH.onreadystatechange = function(){
            if (httpH.readyState == 4 && httpH.status == 200){
                var rutahist = httpH.responseText;
                rutahist = JSON.parse(rutahist);
                
                var ruta = new Array()
                for(var i = 0; i<rutahist.length; i++){
                    
                    if(i== 0){
                        inicio.setLatLng([rutahist[i][1], rutahist[i][2]]); 
                    }
                    if(i== rutahist.length - 1){
                        marker.setLatLng([rutahist[i][1], rutahist[i][2]]); 
                        mymap.setView([rutahist[i][1], rutahist[i][2]], mymap.getZoom());
                    }

                    console.log(rutahist[i][1])
                    ruta.push([rutahist[i][1], rutahist[i][2]])
                }
                //eliminar la polilinea
                if (polilineas){
                    for (var line of polilineas){
                        mymap.removeLeyer(line);
                     }   
                }
                
                //polilinea
                var polyline = L.polyline(ruta, {color: 'blue'}).addTo(mymap);
                polilineas.push(polyline);
            }
            else {
                console.log("Ready state", httpH.readyState);
                console.log("Ready status", httpH.status);
            }
        }
        httpH.send(null);
    }
    
</script>

</html>