<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Empresa de Taxis
    </title>
    <link rel="stylesheet" href="../static/estilos.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
</head>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<body>
    <h1 id="titulo1">Ubicación GPS</h1>
    <div class="container1">
        <div class="container">
            <img class="imagen"
                src="../static/taxi1.png">
            <div class="mostrar-info">
                <p class="informacion labels">Latitud:</p>
                <p class="informacion" id="latitud"></p><br>
                <p class="informacion labels">Longitud: </p>
                <p class="informacion" id="longitud"></p><br>
                <p class="informacion labels">Hora: </p>
                <p class="informacion" id="fecha"></p><br>
                <p class="informacion labels">Fecha: </p>
                <p class="informacion" id="hora"></p>
            </div>
            <a href="{{ url_for('historial') }}">Historial</a>
        </div>

        <div id="TaxiMap" class="mapa"></div>
        

    </div>
    <footer class="footer">
        <p class="text-footer">© 2021 Copyright: <a class="link-footer" href="https://mdbootstrap.com/">www.LosTaxisDelTio.com</a></p>
    </footer>
</body>

<script type="text/javascript"> 

    var ruta = new Array()
    var x = 1;
    var customIcon = new L.Icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/512/4214/4214491.png',
        iconSize: [50, 50],
        iconAnchor: [25,25]
    });
    const mymap = L.map('TaxiMap').setView([10.968638,-74.806644,], 14);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    let marker = L.marker([0, 0], {icon: customIcon}).addTo(mymap);
    let inicio = L.marker([0, 0]).addTo(mymap);

     // SELECCIONAR ELEMENTOS DEL HTML
    const changelat = document.querySelector('#latitud');
    const changelong = document.querySelector('#longitud');
    const changetime = document.querySelector('#fecha');
    const changehour = document.querySelector('#hora');
    //const historybutton = document.getElementById('button');
    
    
    //http request escuchando el boton del usuario, aquí pon la parte del boton

    //document.getElementById('button').addEventListener('click', consulta);

    /*function consulta(){

    }/*
    
    //llenar vector de la polilinea
    /*const httpH = new XMLHttpRequest() // metodo de javascript, para hacer peticiones a una url
        httpH.open('GET', "/historicos")
        httpH.onreadystatechange = function(){
            if (http.readyState == 4 && http.status == 200){
                var rutahist = http.responseText;
                rutahist = JSON.parse(rutahist);

                //polilinea
                var loc = [sqld[0][1],sqld[0][2]];
                ruta.push(loc);
                var polyline = L.polyline(ruta, {color: 'blue'}).addTo(mymap);
            
            }
            else {
                console.log("Ready state", http.readyState);
                console.log("Ready status", http.status);
            }
        }
        httpH.send(null);*/


    setInterval('reload()', 1000);

    //no se debe ejecutar en mientras se consulta <=> otra ruta 

    function reload() {

        //let response = await fetch(url);
        //response.json();
        //console.log(sqld);

        const http = new XMLHttpRequest() // metodo de javascript, para hacer peticiones a una url
        http.open('GET', "/sqldata")
        http.onreadystatechange = function(){
            if (http.readyState == 4 && http.status == 200){
                var sqld = http.responseText;
                sqld = JSON.parse(sqld);
                Fdate=sqld[0][3].split("T")
                if (x==1){
                    inicio.setLatLng([sqld[0][1], sqld[0][2]]);
                    x=0;
                }

                 // modificar campos de html, hacer el link
                changelat.innerHTML = `${sqld[0][1]}`
                changelong.innerHTML = `${sqld[0][2]}`
                changetime.innerHTML = `${Fdate[1]}`
                changehour.innerHTML = `${Fdate[0]}`
                
                mymap.setView([sqld[0][1],sqld[0][2]], mymap.getZoom());
                //Polilinea.
                var loc = [sqld[0][1],sqld[0][2]];
                ruta.push(loc);
                var polyline = L.polyline(ruta, {color: 'blue'}).addTo(mymap);


                marker.setLatLng([sqld[0][1], sqld[0][2]]);
                console.log(sqld[0][0]);
            }
            else {
                console.log("Ready state", http.readyState);
                console.log("Ready status", http.status);
            }
        }
        http.send(null);

    }
</script>

</html>