<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAXI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <style>
        .grid-p {
            display: grid;
            grid-template-columns: 30% 70%;
        }

        .mapa {
            width: 100%;
            height: 520px;
            margin: 0;
            margin-bottom: 50px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    {% include "nav-bar.html" %}

    <div class="grid-p">
        <div class="box">

            <div class="field">
                <input type="checkbox" id="TLO847" name = "1" onclick="myFunction(this)">
                <label for="1"> TLO847 </label>
            </div>

            <div class="field">
                <input type="checkbox" id="WPB289" name = "3" onclick="myFunction(this)">
                <label for="3">WPB289</label>

            </div>

            
            <div class="field">
                <input type="checkbox" id="TRU189" name = "2" onclick="myFunction(this)">
                <label for="2">TRU189</label>

            </div>
            
            
        </div>
            
            
    </div>
        <div id="TaxiMap" class="mapa"></div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>© 2021 Copyright</strong> www.LosTaxisDelTio.com
            </p>
        </div>
    </footer>

</body>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>

<script type="text/javascript">


   
    var customIcon = new L.Icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/512/4214/4214491.png',
        iconSize: [50, 50],
        iconAnchor: [25, 25]
    });
    const mymap = L.map('TaxiMap').setView([10.968638, -74.806644,], 14);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    
    var search = new Array();
    function myFunction(item){
        if (item.checked){
            search.push(item.getAttribute("id"));
        }
        else{
            var temp = new Array();
            //var i = 0;
            for (var j = 0; j<search.length; j++){
                if (search[j] != item.getAttribute("id")){
                    temp.push(search[j]);
                }
            }
            search = temp;
        }
        
    }

    var x = {
        "TLO847": 1,
        "WPB289": 1,
        "TRU189": 1,
    }

    var inicio = {
        "TLO847": L.marker([0, 0]).addTo(mymap),
        "WPB289": L.marker([0, 0]).addTo(mymap),
        "TRU189": L.marker([0, 0]).addTo(mymap),
    }


    var ruta = {
        "TLO847": new Array(),
        "WPB289": new Array(),
        "TRU189": new Array()
    }

    var markers = {
        "TLO847": L.marker([0, 0], { icon: customIcon }).addTo(mymap),
        "WPB289": L.marker([0, 0], { icon: customIcon }).addTo(mymap),
        "TRU189": L.marker([0, 0], { icon: customIcon }).addTo(mymap)
    }
    //var search = new Array();
    //search=['TLO847','WPB289']


    setInterval('reload()', 1000);

    //no se debe ejecutar en mientras se consulta <=> otra ruta 

    


    function reload() {
      

        search.forEach((taxi) =>{
            const http = new XMLHttpRequest() // metodo de javascript, para hacer peticiones a una url
            http.open('GET', "/"+taxi+"/sqlplaca")
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    var sqld = http.responseText;
                    sqld = JSON.parse(sqld);

                    
                    

                    console.log("search");
                    console.log(taxi);
                    ruta[taxi].push([sqld[0][1], sqld[0][2]]);
                   
                    
                  
                    if(x[taxi]==1){
                        inicio[taxi].setLatLng([sqld[0][1], sqld[0][2]]).bindPopup('Comienzo del <br> recorrido');
                        x[taxi]=0;
                    }               
                    
                   
                    
                    
                    var polylines = {
                        "TLO847": L.polyline(ruta[taxi], { color: 'blue' }).addTo(mymap),
                        "WPB289": L.polyline(ruta[taxi], { color: 'red' }).addTo(mymap),
                        "TRU189": L.polyline(ruta[taxi], { color: 'green' }).addTo(mymap)
                    }
                    console.log(polylines[taxi]);



                    //if (x == 1) {
                    //   inicio.setLatLng([sqld[0][1], sqld[0][2]]);
                    //    x = 0;
                    //}

                    //Fdate = sqld[0][3].split("T")
                    //if (x == 1) {
                    //    inicio.setLatLng([sqld[0][1], sqld[0][2]]);
                    //    x = 0;
                    //}

                    // modificar campos de html, hacer el link
                    //changelat.innerHTML = `${sqld[0][1]}`
                    //changelong.innerHTML = `${sqld[0][2]}`
                    //changetime.innerHTML = `${Fdate[1]}`
                    //changehour.innerHTML = `${Fdate[0]}`

                    //mymap.setView([sqld[0][1], sqld[0][2]], mymap.getZoom());
                    //Polilinea.
                    //var loc = [sqld[0][1], sqld[0][2]];
                    //ruta.push(loc);
                    //var polyline = L.polyline(ruta, { color: 'blue' }).addTo(mymap);


                    //marker.setLatLng([sqld[0][1], sqld[0][2]]);
                    //console.log(sqld[0][0]);

                    

                    markers[taxi].setLatLng([sqld[0][1], sqld[0][2]]).bindPopup(taxi);
                    markers[taxi].setOpacity(1);

                    //var marker = L.marker([sqld[0][1], sqld[0][2]], { icon: customIcon }).addTo(mymap);
                    
                    //marker_remove.push(marker);

                }
                else {
                    console.log("Ready state", http.readyState);
                    console.log("Ready status", http.status);
                }
            }
            http.send(null);

            });
        
    }
</script>


</html>